extends base.pug

block scripts   
    script(src="/static/index.js") 
block style 
    style 
        include ../static/style.css
block content 
    section#introSection 
        div.large Welcome to Shank's Academy 
        div.small    Eat Sleep Dance Randaap
    section#sponsorSection 
        div  Our Sponsors 